.main{
	padding-top: 20px;
	padding-bottom: 20px;
}
.main-content{
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-column-gap: 15px;
	@include max-screen(991px){
		grid-template-columns: 1fr 1fr;
	}
	@include max-screen(767px){
		grid-template-columns: 1fr;
		
	}
	@include max-screen(480px){
		grid-template-columns: 100%;
	}
	@include max-screen(320px){
		grid-template-columns: 100%;
	}	
}