.mobile-menu{
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba($color-black, .9);
	z-index: 200;
	display: none;
	overflow-y: auto;

	&__list{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		@include max-screen-height(480px){
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding-top: 70px;
			padding-left: 5%;
			padding-right: 5%;
		}
	}
	&__item{
		width: 100%;
		@for $i from 1 through 10{
			&:nth-chil(#{$i}){
				animation-delay: 1s*($i/5);
			}
		}
	}
	&__link{
		color: $color-white;
		font-size: em(18px);
		line-height: 42px;
		text-align: center;
		transition: all ease 0.5s;
		text-transform: uppercase;
		&:hover,&:focus{
			color: $blue_cl1;
			background: rgba($color-white, 0.2);
		}
	}
}
