div.top-line.d-flex.align-items-center
		div.container.d-flex.justify-content-between.align-items-center.top-line__wrap
			a.top-line__logo
				img(src='images/Лого.png')
			div.top-line__mobile-btn.mobile-btn#mobile-btn
				span.mobile-btn__item
			nav.top-line__navigator.navigator
				ul.top-line__menu.menu
					each item in toplineList
						if(item.type == 'link')
							li.menu__item
								a.menu__link(href=item.href)=item.text
						else if(item.type == 'input')
							li.menu__item
								form.top-line__form.head-form
									label.head-form__label
										span.fas.fa-search
									input.head-form__input(placeholder=item.text required=true)

			