// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

$blue_cl1: #3399ff;
$blue_cl2: #398ae6;
$gray_cl1: #f7f8fa;
$gray_cl2: #c9c9c9;
$gray_cl3: #ebf3fc;
$black_cl: #878787;
$black_cl2: $color-black;
$darc-violet_cl: #383a46;


// FONTS
	$roboto: 'Roboto';
	$base-font-size: 16px;